/* Ini Css Fie */
:root {
  --primary: #ff7f00;
  --bg: #010101;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 1px solid #d16b05;
  background-color: rgba(1, 1, 1, 0.8);
}
